<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Perguntas e Respostas</title>
</head>
<body>
    <h1>Guia Perguntas</h1>
    <br>

    <% if(msg == true) 
    { %>
        aplication: <%= aplication %> <br>
    &nbsp;&nbsp;&nbsp;&nbsp;kind: <%= kind %> <br>
    <%} else{ %>
        <h3>Nenhum erro</h3>
    <%}%>
    <br>
    <h3>Perguntas</h3>
</body>
</html>